.idea
/agit_plus/.env
/agit_plus/data_test/
/agit_plus/vector-store/
/agit_plus/data_back/
/agit_plus/text_chunks.json
/agit_plus/파일구조.txt
/agit_plus/data/
/agit_plus/vectorstore.faiss/
/agit_plus/chunk-store/
/agit_plus/comento_func.py
/agit_plus/etc/
/agit_plus/include/
/agit_plus/lib/
/agit_plus/share/
/agit_plus/bin/
